/* Desktop */
@media (min-width: 1024px) {
    
    body {
        font-size: 16px;
        background-color: #dedede;
    }

    h1{ font-size: 40px; font-weight: bold; }
    h2{ font-size: 32px; font-weight: bold; }
    h3{ font-size: 28px; font-weight: bold; }
    h4{ font-size: 24px; font-weight: bold; }
    h5{ font-size: 20px; font-weight: bold; }
    h6{ font-size: 16px; font-weight: bold; }

    .s-justify-content-start{ display:flex; justify-content:flex-start; }
    .s-justify-content-center{ display:flex; justify-content: center; }
    .s-justify-content-end{ display:flex; justify-content: flex-end; }
    .s-align-items-start{ display:flex; align-items: flex-start; }
    .s-align-items-center{ display:flex; align-items: center; }
    .s-align-items-end{ display:flex; align-items: flex-end; }
    
    .s-grid{ display: grid; width: 100%; box-sizing: border-box; }
    .s-grid-2{ grid-template-columns: 1fr 1fr; }
    .s-grid-3{ grid-template-columns: 1fr 1fr 1fr; }
    .s-grid-4{ grid-template-columns: 1fr 1fr 1fr 1fr; }
    .s-grid-20-80{ display: grid; grid-template-columns: 2fr 8fr; }
    .s-grid-80-20{ display: grid; grid-template-columns: 8fr 2fr; }
    .s-grid-30-70{ display: grid; grid-template-columns: 3fr 7fr; }
    .s-grid-70-30{ display: grid; grid-template-columns: 7fr 3fr; }
    .s-grid-40-60{ display: grid; grid-template-columns: 4fr 6fr; }
    .s-grid-60-40{ display: grid; grid-template-columns: 6fr 4fr; }
    .s-grid-page{ grid-template-columns: 1fr 4fr 1fr }
    .s-grid-g-5{ gap:5px; }
    .s-grid-g-10{ gap:10px; }
    .s-grid-g-15{ gap:15px; }

    .s-formaccess{ background-color: #fff; width: 400px; position: fixed; top:50%; left:50%; transform:translate(-50%, -50%); border-radius: 6px; }
    .s-formaccess-box{ padding: 40px; box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; }
    .s-formaccess-icon{ width: 90px; height: 90px; margin-top:20px; }
    .s-formaccess-title{ font-size: 30px; margin: 0px; color: #444; margin-bottom: 20px; margin-top: 20px; text-align:center; }
    .s-formaccess-group{ margin-bottom: 20px; }
    .s-formaccess-label{ color: #999; margin-left: 5px; display: block; width: 100%; box-sizing: border-box;  }
    .s-formaccess-input{ margin-top:5px; padding: 15px 20px; box-sizing: border-box; width: 100%; border-radius: 5px; border: 1px solid #ccc; outline: none; font-size: 16px; }
    .s-formaccess-input:focus{  }
    .s-formaccess-button{ padding: 18px 70px; margin-top: 20px; font-size: 18px; border: none; background-color: #78b675; color: #326e2e; cursor:pointer; border-radius: 4px; }
    .s-formaccess-button:hover{ background-color: #81c37e; }
    .s-formaccess-button:active{ background-color: #78b675; }


}